<div class="p-2 bg-gray-800 bg-opacity-50 mb-[2.5rem]">
  <div class="font-bold text-white flex items-center gap-3">
    <a href="/"> <i class="fas fa-arrow-left"></i></a>

    <div class="flex flex-row items-center">
      <img
        src="https://cdn.shibe.online/shibes/83f29eec04f71fdf398a669d67bd0964837ac5da.jpg"
        alt="Me"
        class="mx-auto mb-1 h-[1.5rem] w-[1.5rem] rounded-full object-cover md:mx-4 md:mb-0"
      />

      <p class="h-full">
        <span
          class="underline decoration-green-400 decoration-wavy decoration-1"
          >Francesco</span
        >
         Lombardo
      </p>
    </div>
  </div>
</div>
