---
import { Icon } from "astro-icon/components";

interface Props {
  social: {
    name: string;
    url: string;
    icon: string;
  };
}

const { social } = Astro.props;
---

<a
  href={social.url}
  class="border-border hover:border-primary hover:text-primary inline-flex items-center gap-2 rounded-md border px-4 py-2 transition-colors"
  target="_blank"
>
  <Icon name={social.icon} />
  {social.name}
</a>
