---
import "../styles/globals.css";

import { ClientRouter } from "astro:transitions";
import doggoAvatar from "../assets/doggo.jpg";
import { Image } from "astro:assets";
import { House } from "@lucide/astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} // frawolf.dev</title>

    <ClientRouter />
  </head>
  <body class="bg-background text-foreground min-h-screen pb-12">
    <div class="min-h-screen">
      <header class="border-border border-b">
        <div class="container mx-auto px-4 py-4">
          <div class="mx-auto flex max-w-6xl items-center justify-between">
            <a
              href="/"
              class="flex items-center gap-3 transition-opacity hover:opacity-80"
              data-astro-prefetch
            >
              <Image
                src={doggoAvatar}
                loading={"eager"}
                alt={"Profile pic"}
                class={"h-10 w-10 rounded-full object-cover"}
              />
              <div class="flex flex-col">
                <span class="font-semibold">Francesco Lombardo</span>
                <span class="text-muted-foreground text-xs">
                  Junior Full Stack Developer</span
                >
              </div>
            </a>

            <!-- Button for desktop -->
            <a
              href="/"
              class="text-muted-foreground hover:text-primary hidden text-sm transition-colors sm:block"
              data-astro-prefetch
            >
              Return to home
            </a>

            <!-- Button for mobile -->
            <a
              href="/"
              class="text-muted-foreground hover:text-primary block text-sm transition-colors sm:hidden"
              data-astro-prefetch
            >
              <House />
            </a>
          </div>
        </div>
      </header>

      <slot />
    </div>
  </body>
</html>
