---
import "../styles/global.css";

import ProjectHeader from "../components/ProjectHeader.astro";

interface Props {
  frontmatter: {
    title: string;
  };
}

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title} | Francesco Lombardo</title>

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <ProjectHeader />
    <div class="mb-10 text-white justify-center text-center">
      <div class="mb-5">
        <h1 class="text-3xl font-bold text-gray-300">{frontmatter.title}</h1>
        <p>Tech stack: palle</p>
      </div>

      <div class="text-left m-auto max-w-[45rem]">
        <slot />
      </div>
    </div>
  </body>
</html>
